@page "/songdetails/{Id}"
@using music_manager_starter.Shared
@inject HttpClient Http
@inject NavigationManager Navigation

<div class="p-6">
    <img src="@song.FilePath" alt="image">
    <h1 class="text-xl font-semibold mb-2" style ="color:white">Title: @song.Title</h1>
    <p class="text-xl font-semibold mb-2" style ="color:white">Artist: @song.Artist</p>
    <p class="text-xl font-semibold mb-2" style ="color:white">Album: @song.Album</p>
    <p class="text-xl font-semibold mb-2" style ="color:white">Genre: @song.Genre</p>
    <p class="text-xl font-semibold mb-2" style ="color:white">Rating: @song.Rating</p>

    <EditForm Model="rating" OnValidSubmit="HandleAddRating">

    </EditForm>

</div>



@code {
    [Parameter]
    public string Id { get; set; }

    private Song song;

    private Song rating = new Song();

    protected override async Task OnInitializedAsync()
    {
        song = await Http.GetFromJsonAsync<Song>("api/songs/" + Id);

    }

        private async Task HandleAddRating()
    {
        //Add song id
        //Add Whatever rating the user supplied
    }

}